<!DOCTYPE HTML>
<html>
<head>
<title>购物车</title>
<!-- Custom Theme files -->

<link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css" />  
<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/> -->
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href='http://fonts.useso.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!--Google Fonts-->
</head>
<body>
<div class="login">
	<h2>购物车</h2>
	<div class="login-top">
	<h1>购物车清单</h1>
	<form id = "form1" name = "form1" method = 'post'>
	<ul>
	{%for product in products%}
		<li><label><input name="{{product.pid}}" type="checkbox" value="{{product.pid}}" /></label> {{product.name}}&nbsp&nbsp&nbsp&nbsp&nbsp {{product.amount}}</li>
	{%empty%}
		<h1>购物车为空！</h1>
	{%endfor%}
	</ul>
	<br/>
	总价:{{total}}元
	<br/>
	总重:{{weight}}
	<br/>
	空运价格:{{air}}元
	<br/>
	陆运价格:{{land}}元
	<br/><br/>
	<input type="submit" value="删除选中商品" />
	</form>
	</div>
	<div class="login-bottom">
	<h3><a href="../logout" style="float:left">登出</a><a href="../empty" style="float:left">&nbsp&nbsp&nbsp&nbsp&nbsp清空</a><a href="#">提交订单&nbsp&nbsp&nbsp&nbsp&nbsp</a><a href="../list">商品列表</a></h3>
	</div>
</div>
</body>
</html>