<!DOCTYPE HTML>
<html>
<head>
<title>登陆</title>
<script type="text/javascript">
    var error = {{ error }};
    alert(List);
</script>

<!-- Custom Theme files -->

<link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css" />  
<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/> -->
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href='http://fonts.useso.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!--Google Fonts-->
</head>
<body>
<div class="login">
	<h2>登 陆</h2>
	<div class="login-top">
		<h1>登录表单</h1>
		<form method = 'post' enctype="multipart/form-data">
		<!--{{userform.as_p}}-->
		<form>
			<input type="text" name=username value="用户账号" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '用户账号';}">
			<input type="password" name=password value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}">
	    <div class="forgot">
			<div style = "text-align:left;float:left">
				<font color="red">&nbsp&nbsp&nbsp&nbsp&nbsp{{error|safe}}</font>
			</div>
			<div>
				<input type="submit" value="登录" >
			</div>
	    </div>
		</form>
	</div>
	<div class="login-bottom">
	</div>
</div>
</body>
</html>