<!DOCTYPE HTML>
<html>
<head>
<title>{{product.name}}</title>

<!-- Custom Theme files -->

<link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css" />  
<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/> -->
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href='http://fonts.useso.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!--Google Fonts-->
</head>
<body>
<div class="login">
	<h2>商品详情</h2>
	<div class="login-top">
		<h1>{{product.name}}</h1>
		<br/>
		<img src={{product.picture}}/>
		<br/>
		零售价:{{product.retail}}
		<br/>
		重量:{{product.weight}}
		<br/>
		详情:
		<br/>
		{{product.intro}}
		<br/><br/>
		<form method = 'post'>
			请输入购买数量:<br/><input name="amount" type="text"  onkeyup='this.value=this.value.replace(/\D/gi,"")'/>
		<div class="forgot">
			<input type="submit" value="加入购物车"/>
		</div>
		</form>
	</div>
	<div class="login-bottom">
	<h3><a href="../../logout" style="float:left">登出</a><a href="../../cart" style="padding-right:112px">购物车</a><a href="../../list">返回列表</a></h3>
	</div>
</div>
</body>
</html>